body {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 4fr;
}

.searchResults {
  background-color: green;
}

#nav {
  height: 100vh;
  background-color: blue;
}

#map {
  height: 100vh;
}

#search {
}
